/target/
**/*.log
**/*.bak
/nbandroid/target/
/nbandroid.maven/target/
/nbandroid.ext.libs/target/
/nbandroid.ext.src/target/
/nbandroid.maven.impl/target/
/rebel.xml
/nbandroid.maven.impl/src/main/resources/rebel.xml
/nbandroid.models/target/
/nbandroid.models/src/main/resources/rebel.xml
/Gradle-Android-support-color-preview/target/
/Gradle-Android-support-color-preview/src/main/resources/rebel.xml
/nbandroid.color.preview/target/
/Gradle-Android-support-layout/nbproject/private/
/nbandroid.layoutlib/nbproject/private/
/nbandroid.layoutlib/target/
/nbandroid.layout.lib/target/
/nbandroid.layout.impl/target/